<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body >

        <div style="width: 200px;">
                <h3>Toys</h3>
                    {% for toy in toys %}

                    <p> {{forloop.counter}}
                        {{toy.name}} </p>
                        {% for tg in toy.tags.all %}
                            <p>
                               {{forloop.counter}}  {{tg.name}}
                            </p>
                        {% endfor %}
            <hr>
                    {% endfor %}
         </div>



</body>
</html>
